.vagrant
*~
infra/docker/storage/raft/*
infra/docker/storage/consul/primary
infra/docker/storage/consul/secondary
infra/docker/storage/consul/dr
infra/docker/image/vault
ops/raft/primary/*.json
ops/raft/secondary/*.json
ops/raft/dr/*.json
ops/consul/primary/*.json
ops/consul/secondary/*.json
ops/consul/dr/*.json
old/
